- name: pdo
- name: "bcmath"
- name: "exif"
- name: "gd"
  phpMaxVersion: 7.4
  build:
    args:
      - "--with-jpeg-dir=/usr/include/"
      - "--with-png-dir=/usr/include/"
      - "--with-webp-dir=/usr/include/"
    depends:
      - libjpeg62-turbo-dev
      - libpng-dev
      - libwebp-dev
- name: "gd"
  phpMinVersion: 7.4
  build:
    args:
      - "--with-jpeg=/usr/include/"
      - "--with-webp=/usr/include/"
      - "--with-freetype=/usr/include/"
    depends:
      - libjpeg62-turbo-dev
      - libpng-dev
      - libwebp-dev
      - libfreetype6-dev
- name: imap
  build:
    depends:
      - "libc-client-dev"
      - "libkrb5-dev"
      - "libssl-dev"
    args:
      - "--with-kerberos"
      - "--with-imap-ssl"
- name: intl
  build:
    depends:
      - "libicu-dev"
      - "zlib1g-dev"
- name: gettext
- name: mysqli
- name: pdo_mysql
- name: opcache
- name: pcntl
- name: shmop
- name: simplexml
- name: soap
- name: xsl
  build:
    depends:
      - "libxslt-dev"
- name: zip
  build:
    depends:
      - "libzip-dev"
      - "zlib1g-dev"

#
# PECL extensions
#

# Install mcrypt for backward compatibility
- name: mcrypt
  phpMaxVersion: 8.1
  version: 1.0.5
  type: pecl
  build:
    depends:
      - "libmcrypt-dev"

# install apcu before serializers so that they detect and enable support for it
- name: apcu
  type: pecl
  version: 5.1.21
  priority: 30
- name: apc
  phpMaxVersion: 8.0
  pecl_name: apcu_bc
  type: pecl
  version: 1.0.5

# install serializers to make them available for the rest of the extensions
- name: igbinary
  type: pecl
  version: 3.2.7

- name: msgpack
  phpMinVersion: 7.4
  phpMaxVersion: 8.1
  type: pecl
  version: 2.1.2

- name: msgpack
  phpMinVersion: 8.1
  type: pecl
  version: 2.2.0RC1

- name: zstd
  type: pecl
  version: 0.11.0
  build:
    depends:
      - "libzstd-dev"

- name: mailparse
  type: pecl
  version: 3.1.3

- name: memcache
  phpMaxVersion: 8.0
  type: pecl
  version: 4.0.5.2
  build:
    depends:
      - "zlib1g-dev"

- name: memcache
  phpMinVersion: 8.0
  type: pecl
  version: 8.0
  build:
    depends:
      - "zlib1g-dev"

- name: memcached
  type: pecl
  version: 3.2.0
  build:
    depends:
      - "libmemcached-dev"
      - "zlib1g-dev"
    args:
      - "--enable-memcached-igbinary"
      - "--enable-memcached-msgpack"
      - "--enable-memcached-json"

- name: imagick
  type: pecl
  version: 3.7.0
  build:
    depends:
      - "libmagickwand-dev"

- name: redis
  type: pecl
  version: 5.3.7
  build:
    args:
      - "--enable-redis-igbinary"
      - "--enable-redis-msgpack"
      - "--enable-redis-lzf"
      - "--enable-redis-zstd"

